.erro {
  height: 100vh;
  background-image: url("../images/bg-erro.jpg");
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: block;
    top: 0;
    background: linear-gradient(
      270deg,
      rgba(0, 159, 227, 0.5) 0%,
      rgba(0, 147, 58, 0.8) 100%
    );
  }

  .vetor-404 {
    position: absolute;
    height: 638px;
    width: auto;
    object-fit: cover;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;

    @media (max-width: 992px) {
      height: 393px;
    }

    @media (max-width: 767px) {
      height: 145px;
    }
  }

  .box-erro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 80px 64px;

    h1 {
      font-size: 3.5rem;
      font-weight: 800;
      color: var(--text-grey-scale-00);
      text-align: center;
    }

    .content {
      h2 {
        color: var(--text-grey-scale-00);
        text-align: center;
        font-size: 1.13rem;
        font-weight: 700;
        margin-bottom: 7px;
      }

      p {
        text-align: center;
        color: var(--text-grey-scale-00);
      }

      .flex-buttons {
        display: flex;
        gap: 24px;
        align-items: center;
        justify-content: center;
        margin-top: 40px;

        a {
          margin: 0;
          text-decoration: none;

          &.btn-white {
            background-color: var(--grey-scale-00);
            border: 1px solid var(--text-grey-scale-00);
            border-radius: 30px;
          }

          &.btn-border {
            border: 1px solid var(--text-grey-scale-00);
            color: var(--text-grey-scale-00);
          }
        }
      }
    }
  }
}
