.accordion {
  .accordion-item {
    &:not(:last-of-type) {
      margin-bottom: 8px;
    }

    border: 0;

    .accordion-header {
      padding: 0;

      .accordion-button {
        font-size: 1.19rem;
        font-weight: 300;
        padding: 24px;
        box-shadow: none;
        border-radius: 2px;
        border: 1px solid var(--text-grey-scale-02);
        display: flex;
        align-items: center;

        &:not(.collapsed) {
          background-color: var(--bg-dark);
          color: var(--text-white);
          border-radius: 0;

          &:after {
            background-image: url("../images/icon-less.svg");
            transform: none;
            margin-top: 14px;
        }
        }

        &:after {
            background-image: url("../images/icon-more.svg");
        }
      }
    }

    .accordion-body {
      padding: 24px;
      background-color: var(--bg-body);

      .flex-cargo {
        display: flex;
        gap: 30px;
        align-items: flex-start;

        @media (max-width: 991px) {
          flex-direction: column;
          align-items: center;
        }

        img {
          width: 328px;
          height: 250px;
          object-fit: cover;
          border-radius: 2px;
        }
      }
    }
  }
}
