[data-theme="dark"] {
  // Font Family

  --font-concrette: "Quatro";
  --font-icomoon: "Icomoon";

  // Text Colors

  --text-primary-01-default: #ffffff;

  --text-primary-01-var-00: #ffffff;
  --text-primary-01-var-01: #ffffff;
  --text-primary-01-var-02: #ffffff;
  --text-primary-01-var-03: #ffffff;
  --text-primary-01-var-04: #ffffff;
  --text-primary-01-var-05: #ffffff;
  --text-primary-01-var-06: #ffffff;
  --text-primary-01-var-07: #ffffff;
  --text-primary-01-var-08: #ffffff;
  --text-primary-01-var-09: #ffffff;
  --text-primary-01-var-10: #ffffff;

  --text-primary-02-default: #fff;

  --text-primary-02-var-00: #ffffff;
  --text-primary-02-var-01: #ffffff;
  --text-primary-02-var-02: #ffffff;
  --text-primary-02-var-03: #ffffff;
  --text-primary-02-var-04: #ffffff;
  --text-primary-02-var-05: #ffffff;
  --text-primary-02-var-06: #ffffff;
  --text-primary-02-var-07: #ffffff;
  --text-primary-02-var-08: #ffffff;
  --text-primary-02-var-09: #ffffff;
  --text-primary-02-var-10: #ffffff;

  --text-grey-scale-00: #ffffff;
  --text-grey-scale-01: #ffffff;
  --text-grey-scale-02: #ffffff;
  --text-grey-scale-03: #ffffff;
  --text-grey-scale-04: #ffffff;
  --text-grey-scale-05: #ffffff;
  --text-grey-scale-06: #ffffff;
  --text-grey-scale-07: #ffffff;
  --text-grey-scale-08: #ffffff;
  --text-grey-scale-09: #ffffff;
  --text-grey-scale-10: #ffffff;

  --text-assitence-laranja: #ffffff;
  --text-assitence-amarelo: #ffffff;
  --text-assitence-verde-claro: #ffffff;
  --text-assitence-piscina: #ffffff;

  --text-system-focus: #ffffff;
  --text-system-link: #ffffff;
  --text-system-link-visited: #ffffff;
  --text-system-negative: #ffffff;
  --text-system-alert: #ffffff;
  --text-system-positive: #ffffff;

  // Solid Colors

  --primary-01-default: #1a1a1a;

  --primary-01-var-00: #1a1a1a;
  --primary-01-var-01: #1a1a1a;
  --primary-01-var-02: #1a1a1a;
  --primary-01-var-03: #1a1a1a;
  --primary-01-var-04: #1a1a1a;
  --primary-01-var-05: #1a1a1a;
  --primary-01-var-06: #1a1a1a;
  --primary-01-var-07: #1a1a1a;
  --primary-01-var-08: #1a1a1a;
  --primary-01-var-09: #1a1a1a;
  --primary-01-var-10: #1a1a1a;

  --primary-02-default: #1a1a1a;

  --primary-02-var-00: #1a1a1a;
  --primary-02-var-01: #1a1a1a;
  --primary-02-var-02: #1a1a1a;
  --primary-02-var-03: #1a1a1a;
  --primary-02-var-04: #1a1a1a;
  --primary-02-var-05: #1a1a1a;
  --primary-02-var-06: #1a1a1a;
  --primary-02-var-07: #1a1a1a;
  --primary-02-var-08: #1a1a1a;
  --primary-02-var-09: #1a1a1a;
  --primary-02-var-10: #1a1a1a;

  --grey-scale-00: #1a1a1a;
  --grey-scale-01: #1a1a1a;
  --grey-scale-02: #1a1a1a;
  --grey-scale-03: #1a1a1a;
  --grey-scale-04: #1a1a1a;
  --grey-scale-05: #1a1a1a;
  --grey-scale-06: #1a1a1a;
  --grey-scale-07: #1a1a1a;
  --grey-scale-08: #1a1a1a;
  --grey-scale-09: #1a1a1a;
  --grey-scale-10: #1a1a1a;

  --assitence-laranja: #1a1a1a;
  --assitence-amarelo: #1a1a1a;
  --assitence-verde-claro: #1a1a1a;
  --assitence-piscina: #1a1a1a;

  --system-focus: #1a1a1a;
  --system-link: #1a1a1a;
  --system-link-visited: #1a1a1a;
  --system-negative: #1a1a1a;
  --system-alert: #1a1a1a;
  --system-positive: #1a1a1a;
}
