footer {
  padding: 192px 0 66px 0;
  background-color: var(--primary-01-default);
  position: relative;
  margin-top: 80px;

  @media (max-width: 992px) {
    padding-bottom: 0;
  }

  .ouvipetro {
    position: absolute;
    top: -70px;
    width: 85%;
    height: 144px;
    padding: 40px 124px;
    background-size: cover;
    border-radius: 0 16px 16px 0;
    background-image: url(../images/img-ouvipetro.webp);
    display: flex;
    gap: 64px;
    background-position: center;

    @media (max-width: 767px) {
      width: 100%;
      border-radius: 0;
      padding: 40px 24px;
      flex-direction: column;
      gap: 16px;
      height: max-content;
    }

    .text {
      position: relative;

      &:first-of-type {
        &:after {
          content: "";
          height: 100%;
          width: 1px;
          position: absolute;
          background-color: var(--text-grey-scale-09);
          display: block;
          top: 0;
          right: -32px;
        }
      }

      h2 {
        margin: 0;
      }
    }
  }

  .footer-content {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 32px;
    margin-bottom: 32px;

    @media (max-width: 992px) {
      grid-template-columns: 1fr;
    }

    .item {
      background-color: var(--primary-01-var-07);
      border: 1px solid var(--text-primary-01-var-07);
      border-radius: 16px;
      padding: 24px;

      &:first-of-type {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;

        @media (max-width: 767px) {
          grid-template-columns: 1fr;
        }
      }

      span,
      p,
      a {
        font-size: 0.75rem;
        color: var(--text-grey-scale-00);
        text-decoration: none;
      }

      span {
        font-weight: 700;
        display: block;
        margin-bottom: 24px;
      }

      ul {
        padding: 0;
        margin: 0;

        li {
          margin: 0;
        }
      }
    }
  }

  .footer-links {
    display: flex;
    justify-content: space-between;

    @media (max-width: 992px) {
      flex-direction: column;
    }

    p,
    a {
      color: var(--text-grey-scale-00);
      font-size: 0.75rem;
      text-decoration: none;
    }

    .links-meio {
      padding: 0;
      display: flex;
      gap: 32px;

      @media (max-width: 992px) {
        flex-direction: column;
        gap: 5px;
      }

      li {
        margin: 0;
      }
    }
  }

  .footer-bar {
    position: fixed;
    bottom: 0;
    z-index: 999999;
    width: 100%;
    background-color: var(--grey-scale-01);
    margin-top: 20px;

    @media (max-width: 992px) {
      position: unset;
      padding: 12px 0;
    }

    .content {
      display: flex;
      justify-content: space-between;

      @media (max-width: 992px) {
        flex-direction: column;
        align-items: center;
      }

      .tabela-cotacoes {
        padding: 12px 40px;
        background-color: var(--primary-01-var-04);
        border-radius: 8px 0 0 0;
        position: relative;

        @media (max-width: 992px) {
          border-radius: 8px;
          text-align: center;
          margin-top: 20px;
          width: max-content;
        }

        &:after {
          content: "";
          background-color: var(--primary-01-var-04);
          height: 100%;
          width: 500px;
          position: absolute;
          top: 0;

          @media (max-width: 992px) {
            content: none;
          }
        }

        a {
          color: var(--text-grey-scale-00);
          text-decoration: none;
        }
      }

      .iframe-cotacoes {
        display: flex;
        gap: 40px;
        align-items: center;

        @media (max-width: 992px) {
          flex-direction: column;
          gap: 12px;
        }

        p,
        span {
          font-size: 0.75rem;
          white-space: nowrap;
          color: var(--text-grey-scale-10);
        }

        .item {
          display: flex;
          gap: 12px;
          align-items: center;
        }
      }
    }
  }
}
