html {
  scroll-behavior: smooth;

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--text-color);
  font-family: var(--font-client), Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  width: 100%;
  background-color: var(--grey-scale-00);

  &.trava-scroll {
    overflow-y: hidden;
  }
}

#Form1 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
}

ul {
  margin-bottom: 24px;

  li {
    list-style-type: none;
  }

  &.list-ponto {
    padding-left: 20px;
    margin-top: 24px;

    li {
      list-style-type: disc;

      font-weight: 300;
      color: var(--text-grey-scale-05);

      &::marker {
        color: var(--text-grey-scale-08);
      }

      &:not(:last-of-type) {
        margin-bottom: 16px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &.list-numeros {
    padding-left: 20px;

    li {
      list-style-type: decimal;
      margin-bottom: 24px;
    }
  }
}

section {
  padding-top: 80px;
  padding-bottom: 80px;

  @media (max-width: 767px) {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

img,
svg {
  max-width: 100%;
  vertical-align: middle;
  display: block;
}

.container {
  @media (max-width: 1920px) {
    max-width: 1420px;
  }
  @media (max-width: 992px) {
    max-width: 742px;
  }

  @media (max-width: 767px) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

#mainInternal {
  section {
    padding: 48px 0;

    &:last-child {
      padding-bottom: 32px;
    }
  }

  a {
    font-weight: 500;
    // color: var(--system-link);
    font-size: rem(14);
  }
}
