:root {
  // Font Family

  --font-client: "Quatro";
  --font-icomoon: "Icomoon";

  // Text Colors

    --text-primary-01-default: #00933A;

  --text-primary-01-var-00: #b8e9c6;
  --text-primary-01-var-01: #99deae;
  --text-primary-01-var-02: #7ad196;
  --text-primary-01-var-03: #5cc37f;
  --text-primary-01-var-04: #3db468;
  --text-primary-01-var-05: #1fa451;
  --text-primary-01-var-06: #00933a;
  --text-primary-01-var-07: #00822e;
  --text-primary-01-var-08: #006e24;
  --text-primary-01-var-09: #005619;
  --text-primary-01-var-10: #003c10;

   --text-primary-02-default: #F7CC4A;

  --text-primary-02-var-00: #FFF8B8;
  --text-primary-02-var-01: #FFF499;
  --text-primary-02-var-02: #FFEE7A;
  --text-primary-02-var-03: #FFE75F;
  --text-primary-02-var-04: #FFDF47;
  --text-primary-02-var-05: #FFD731;
  --text-primary-02-var-06: #FFCD1C;
  --text-primary-02-var-07: #D4B10B;
  --text-primary-02-var-08: #A89200;
  --text-primary-02-var-09: #7D7100;
  --text-primary-02-var-10: #524C00;

  --text-grey-scale-00: #ffffff;
  --text-grey-scale-01: #f0f0f2;
  --text-grey-scale-02: #e5e5e5;
  --text-grey-scale-03: #d9d9d9;
  --text-grey-scale-04: #cccccc;
  --text-grey-scale-05: #999999;
  --text-grey-scale-06: #666666;
  --text-grey-scale-07: #595959;
  --text-grey-scale-08: #333333;
  --text-grey-scale-09: #1a1a1a;
  --text-grey-scale-10: #080808;

  --text-assitence-laranja: #d05310;
  --text-assitence-amarelo: #eab62b;
  --text-assitence-verde-claro: #9eb02d;
  --text-assitence-piscina: #81d8c2;

  --text-system-focus: #2e82e5;
  --text-system-link: #1a0dab;
  --text-system-link-visited: #1b1466;
  --text-system-negative: #d23a20;
  --text-system-alert: #e5ac00;
  --text-system-positive: #1e986f;

  // Solid Colors

  --primary-01-default: #00933A;

  --primary-01-var-00: #b8e9c6;
  --primary-01-var-01: #99deae;
  --primary-01-var-02: #7ad196;
  --primary-01-var-03: #5cc37f;
  --primary-01-var-04: #3db468;
  --primary-01-var-05: #1fa451;
  --primary-01-var-06: #00933a;
  --primary-01-var-07: #00822e;
  --primary-01-var-08: #006e24;
  --primary-01-var-09: #005619;
  --primary-01-var-10: #003c10;

   --primary-02-default: #F7CC4A;

  --primary-02-var-00: #FFF8B8;
  --primary-02-var-01: #FFF499;
  --primary-02-var-02: #FFEE7A;
  --primary-02-var-03: #FFE75F;
  --primary-02-var-04: #FFDF47;
  --primary-02-var-05: #FFD731;
  --primary-02-var-06: #FFCD1C;
  --primary-02-var-07: #D4B10B;
  --primary-02-var-08: #A89200;
  --primary-02-var-09: #7D7100;
  --primary-02-var-10: #524C00;

  --grey-scale-00: #ffffff;
  --grey-scale-01: #f0f0f2;
  --grey-scale-02: #e5e5e5;
  --grey-scale-03: #d9d9d9;
  --grey-scale-04: #cccccc;
  --grey-scale-05: #999999;
  --grey-scale-06: #666666;
  --grey-scale-07: #595959;
  --grey-scale-08: #333333;
  --grey-scale-09: #1a1a1a;
  --grey-scale-10: #080808;

  --assitence-laranja: #d05310;
  --assitence-amarelo: #eab62b;
  --assitence-verde-claro: #9eb02d;
  --assitence-piscina: #81d8c2;

  --system-focus: #2e82e5;
  --system-link: #1a0dab;
  --system-link-visited: #1b1466;
  --system-negative: #d23a20;
  --system-alert: #e5ac00;
  --system-positive: #1e986f;
}
